*{
  /*font-size: 10px;*/
}
@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Do+Hyeon&display=swap');

html {
  /*font-size: 10px;*/
}

body {
  font-size: 14px;
}

header, main, footer {
  margin: 10px;
  padding: 20px;
  border: solid 5px #CCCCCC;
}
h1 {
  color: green; 
  font-family:"Do Hyeon",serif;
  background-color: lightpink;
  border: solid 2px red; 
  text-align: center; 
  /*width: 90vw;*/
  padding: 25px; 
  margin: 30px;
}
.content {
  display: inline-block;
  height: 100%;
  border: solid 1px black;
  
}

#m1 {
  border: 3px;
}
article[id="m2"] /* article 중 m2라는 이름을 가진것만*/{
  border: 3px;
}

div::before{
  content:"[영화 소개] ";
  font-weight: 900;
  color: darkgreen;
}
div::after{
  content:"[더보기]";
  font-staye:"italic";
  color: blue;
}
article div{
  font-family:"Do Hyeon",serif;
  background-color:lightgray;
  padding: 15px 5px 10px 5px;
  margin-bottom:20px;
}

a {
  text-decoration:none;
  color: darkblue;
}

a:visited{
  color: darkred;
}
a:hover {
  background-color:darkgreen;
  color:white;
}

a:active {
  background-color:darkred;
  color:white;
}

article:nth-child(3) {
  background-color: lightgreen;
}

h3{
  font-family: "Do Hyeon" , sans-serif;
  font-size:1,5px
}
