*{
  /*font-size: 10px;*/
}
html {
  /*font-size: 10px;*/
}

body {
  font-size: 14px;
}

header, main, footer {
  margin: 10px;
  padding: 20px;
  border: solid 5px #CCCCCC;
}
h1 {
  color: green; 
  background-color: lightpink;
  border: solid 2px red; 
  text-align: center; 
  /*width: 90vw;*/
  padding: 25px; 
  margin: 30px;
}
.content {
  display: inline-block;
  height: 100%;
  border: solid 1px black;
  
}

#m1 {
  border: 3px;
}
article[id="m2"] /* article 중 m2라는 이름을 가진것만*/{
  border: 3px;
}

div::before{
  content:"[영화 소개] ";
  font-weight: 900;
  color: darkgreen;
}
div::after{
  content:"[더보기]";
  font-staye:"italic";
  color: blue;
}

a {
  text-decoration:none;
  color: darkblue;
}

a:visited{
  color: darkred;
}
a:hover {
  background-color:darkgreen;
  color:white;
}

a:active {
  background-color:darkred;
  color:white;
}
}
